Flask
Flask-SQLAlchemy
Flask-CORS
Flask-JWT-Extended
pg8000
passlib
python-dotenv
requests
openai
Pillow
PyJWT
reportlab
python-dateutil
fpdf
tqdm
typing_extensions
typing-inspection
urllib3
Werkzeug
gunicorn